*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h1 {
  margin: 0;
}

.App {
  min-height: 100vh;

  color: white;
  background-color: #282c34;

  text-align: center;
}

.Authorization {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 400px;
}

.modal {
  margin-right: 300px;
  padding: 30px;

  background-color: #20232a;

  border-radius: 50px;
}
