*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background-color: white;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
}

/*Авторизация*/

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  margin-right: -50%;
  transform: translate(-50%, -50%);

  background-color: #cecbcb;
  border-radius: 50px;
  opacity: 0.3;

  transition: opacity ease-in 0.5s;
  transition: box-shadow linear 0.3s;
}

.App:hover,
.App:focus,
.Login:focus,
.Password:focus{
  opacity: 0.9;
  box-shadow: 1px 2px 5px 2px grey;
}

.FormApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 350px;
  height: 300px;

  padding: 10px;
}

.FormApp h1 {
  color: white;
  margin-bottom: 30px;
}

.inputApp {
  margin: 30px;
}

.AppMessage {
  display: flex;
  justify-content: center;
}

.Burger {
  visibility: visible;
}